/* app css stylesheet */

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;

	font-family: 'Source Sans Pro', sans-serif;
	color: #666;
}

section {
	width: 100%;
}

p {
	line-height: 2.1em;
}

a {
	text-decoration: none;
	color: black;
	font-weight: 400;
}

a:hover {
	font-weight: 900;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.emphasis-text {
	font-weight: 400;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* TODO: center content within section-content? */
.img-container {
	border: 10px solid white;
	margin: 1.2em;
	min-width: 250px;
}

img {
	width: 100%;
}


/*------------------------------------*/

@media (min-width: 900px) {
	#home-body {
		font-size: 1.2em;
	}
}

@media (min-width: 1500px) {
	#home-body {
		font-size: 1.5em;
	}
}

@media (min-width: 2000px) {
	#home-body {
		font-size: 1.7em;
	}
}

#home-body {
	letter-spacing: 0.1em;
	font-weight: 300;	
}

.section-content {
	padding: 2em 0 2em 0;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

/**/

#hero {
  width: 100%;
  min-height: 250px;
  padding-top: 3%;
  padding-bottom: 30%;
  background-image: url(images/run2.jpg); /* no need for qoutes */
  background-size: cover;
  background-position: bottom;
}

#hero div {
	padding-right: 3%;
	padding-left: 3%;
}

#hero .section-title {	
	text-shadow:  0px 0px 10px #666;
	font-family: 'Sans Source Pro', sans-serif;
	font-weight: 900;
	font-size: 3em;
  color: white;
}

#hero .hero-caption { 
	text-shadow:  0px 0px 25px #666;
	font-weight: 600;
	font-size: 0.8em;
  color: white;
}



/**/

.blurb-section {
	font-size: 1.4em;
	letter-spacing: 0.3em;
	text-align: center;
}

#home-body section:nth-child(2) {
	color: #666;
}

#home-body section:nth-child(3) {
	background: rgba(250, 200, 0, 1);
	color: white;
}

/**/


#square .flex-container div {
	flex: 1;
}

#square .side-img-container {
	background-image: url(images/square-coffee.jpg); /* no need for qoutes */
	background-position: center;
	background-size: cover;
  background-repeat: no-repeat;
}

#square .flex-container div:first-child {
	padding: 3em; 
}

/**/

#google {
	background: rgba(250, 200, 0, 0.6);
	color: white;
	text-align: center;
}

.video-container {
	background: black;
}

.video-container .section-content {
	max-width: 1400px;
}

/**/

#stanford .flex-container {
	align-items: center;
}

#stanford .flex-container div {
	flex: 1;
	min-width: 250px;
}

.detail-text {
	text-align: center;
	font-size: 0.8em;
}

/**/

#home {
	background: rgba(250, 200, 0, 0.6);
	color: white;
}

#home .img-container {
	width: 25%;
}

/**/

#other .section-content {
	text-align: center;
	letter-spacing: 0.3em;
}

#other .section-content:first-child {
	padding: 8em 0 5em 0;
	font-size: 1.4em;
	line-height: 2.1em;
}

#other .section-content:last-child {
	padding: 3em 0 8em 0;
}

#other a {
	font-size: 1.1em;
	font-weight: 600;
}

#other a:hover {
	font-weight: 900;
}


/**/

#footer {
	background: rgba(250, 200, 0, 1);
	color: white;
	text-align: center;
}

#footer a {
	color: white;
}



/*---------------------------------------------------- RESUME ---------------------------------------------- */

#resume-body {
	padding: 2em;
	border: 1px solid #eee;
	width: 80%;
	max-width: 900px;
	min-width: 200px;
	margin: 2em auto 2em auto;
}

.resume-section-header {
	margin: 0.5em 0 0.5em 0;
	
	text-transform: uppercase;
	font-size: 1rem;
	color: black;
}

.resume-section-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;

	padding: 1% 0;

	font-weight: 200;
	font-size: 1rem;
	letter-spacing: 0;
}

.resume-date {
	flex: 1;
	margin: 0.8em 0 0.8em 0;
	min-width: 50px;
}

.resume-entry-container {
	flex: 5;
	min-width: 200px;
	margin: 0.8em 0 0.8em 0;
}

.resume-entry-title {
	text-transform: uppercase;
	font-weight: 600;
}

.resume-entry-container p {
	line-height: 1.4rem;
	margin: 0.5rem 0 0.5rem 0;
	font-size: 0.9rem;
}

.resume-entry-container.columned-entry {
	text-align: center;
	padding: 0 1% 0 1%;
}

.resume-section-row.dictionary-entries {
	justify-content: flex-start;
}

.resume-section-row.dictionary-entries .resume-entry-title {
	margin-right: 1%;
}

.back-button {
	background: rgba(250, 200, 0, 1);
	padding: 1%;
}

.back-button a {
	font-weight: 200;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	color: white;
}

.back-button a:hover {
	font-weight: 900;
}










