<div class="back-button">
	<a href="#!/view1"><< BACK</a>
</div>

<div id="resume-body">
	<section ng-repeat="section in resumeSections" class="resume-section-container">
		<div class="resume-section-header">{{section.title}}</div>
		
		<div class="resume-section-content">
			<div class="resume-section-row" ng-repeat="entry in section.entries">
				<div class="resume-date">
					{{entry.startDate}} - {{entry.endDate}}
				</div>
				<div class="resume-entry-container">
					<div class="resume-entry-title">{{entry.title}} - {{entry.location}}</div>
					<div class="resume-entry-description">
						<p ng-repeat="point in entry.description">
							{{point}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="resume-section-container">
		<div class="resume-section-header">{{projectSection.title}}</div>
		<div class="resume-section-content">
			<div class="resume-section-row">			
				<div ng-repeat="project in projectSection.entries" class="resume-entry-container columned-entry">
					<div class="resume-entry-title">{{project.title}}</div>
					<div class="resume-entry-description">{{project.description}}</div>
				</div>
			</div>		
		</div>
	</section>

	<section class="resume-section-container">
		<div class="resume-section-header">{{otherSection.title}}</div>
		<div class="resume-section-content">		
			<div ng-repeat="o in otherSection.entries" class="resume-section-row dictionary-entries">
				<div class="resume-entry-title">{{o.title}}</div>
				<div class="resume-entry-description">{{o.description}}</div>
			</div>		
		</div>
	</section>
</div>